
      html, body {
        min-height: 100%;
        }
        body, div, form, input, label { 
        padding: 0;
        margin: 0;
        outline: none;
        font-size: 17px;
        color: #666;
        line-height: 28px;
        }
        legend { 
        color: #fff;
        background-color:  #003D7a;
        padding: 5px 5px;
        font-size: 20px;
        }
        h1 {
        position: absolute;
        margin: 0;
        font-size: 36px;
        color:#fff;
        z-index: 2;
        }
        .testbox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        padding: 20px;
        }
        form {
        width: 120%;
        padding: 20px;
        border-radius: 6px;
        background: #fff;
        
        }
        .banner {
          background-color: #efefefa2;
          border:solid #EFEFEF;
          position: relative;
          height: 200px;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          
        }
        .banner::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        }
        input {
        margin-bottom: 10px;
        
        }
        input {
        /* width: calc(100% - 10px); */
        padding: 5px;
        }
        select {
        width: 100%;
        padding: 7px 0;
        background: transparent;
        }
        input[type="date"] {
        padding: 4px 5px;
        }
        .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
        color:#a4c639;
        }
        .item input:hover {
        border: 1px solid transparent;
        color:#a4c639;
        }
        .item {
        position: relative;
        margin: 10px 0;
        }
        .item span {
        color: red;
        }
        input[type="date"]::-webkit-inner-spin-button {
        display: none;
        }
        .item i, input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        font-size: 20px;
        color: #a4c639;
        }
        .item i {
        
        top: 30px;
        z-index: 1;
        }
        [type="date"]::-webkit-calendar-picker-indicator {
        right: 1%;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        }
        .question span {
        margin-left: 30px;
        }
        .btn-block {
        margin-top: 10px;
        text-align: center;
        }
        button {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 5px; 
        background: #a4c639;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        }
        button:hover {
        background: #4286f4;
        }
        @media (min-width: 568px) {
        .name-item, .city-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        }
        .name-item input, .city-item input,.name-item div {
        width: calc(50% - 20px);
        }
        .name-item div input {
        width:97%;}
        .name-item div label {
        display:block;
        padding-bottom:5px;
        }
        }
        table, th, td {
        border:1px solid #DDDDDD;
        text-align: left;
        background-color: #FFF; 
        color: black;
        
        
  }
  
  
      .checkbox{
          float: inline-end;
      }
      