report sub
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Horizontal Card Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .bcontent {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container bcontent">
        <h2>Training Companies</h2>
        <hr />
        <div class="card" style="width: 500px;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="{%static 'seniorapp/images/more-info.jpg' %}" alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">National Bank of Baharain</h5>
                        <p class="card-text">We are always on the look out for talented individuals who want to have a challenging and rewarding career in one of the most successful financial services institutions in the Kingdom.</p>
                        <a href="#" class="btn btn-primary">More Details</a>
                        <a href="#" class="btn btn-primary">Request Recommendation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>