{% extends 'seniorapp/TryTemplate.html' %}
{% load static %}
{% block content %}
<html>

<head>
    <title>Request</title>
    <link rel="stylesheet" href="{%static 'seniorapp/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{%static 'seniorapp/css/templatemo-finance-business.css' %}">
    <link rel="stylesheet" href="{%static 'seniorapp/css/owl.css' %}">
    <link rel="stylesheet" href="{%static 'seniorapp/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{%static 'seniorapp/css/Request.css' %}">
  


    <!-- <link href="{%static 'seniorapp/js/request.js' %}"> -->
</head>

<body>
    <br>
    <br>
    <br>


    <div class="container-fluid" style="width: 90%; margin: auto;">
        <div class="row justify-content-center">
            <div>
                <div style="margin: auto; text-align: center;">
             <br>
                    <form id="msform" style="margin:auto;">
                        <!-- progressbar -->
                    <ul id="progressbar" style="text-align: center; margin-left: -160px;">
                            <li class="active" id="account" style="font-size: 12pt; margin-left: 35%; "><strong>Student Information</strong></li>
                            <li id="personal" ><strong>Confirmation</strong></li>
                            
                        </ul>
                        <br> <!-- fieldsets -->
                        
                        <fieldset style="width: 100%;">
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title" style="color: black;">Student Information:</h2> 
                                      </div>
                                </div>
                                <label class="fieldlabels">Name </label>
                                <input type="text" name="name" placeholder="Name" value="Sara Khalid" />
                                <label class="fieldlabels">Student ID </label>
                                <input type="text" name="uname" placeholder="Academic ID" value="20101234"/>
                                <label class="fieldlabels">Email </label>
                                <input type="email" name="email" placeholder="Email" value="20101234@stu.uob.edu.bh"/>
                                <label class="fieldlabels">College </label>
                                <input type="text" name="pwd" placeholder="College" value="Information Technology"/>
                                <label class="fieldlabels">Department </label>
                                <input type="text" name="cpwd" placeholder="Department" value="Information Systems"/>
                                <label class="fieldlabels">Course Code </label>
                                <input type="text" name="cpwd" placeholder="Department" value="ITIS415"/>
                                <label class="fieldlabels">Message </label>
                                <div style="width: 100%; margin: auto;">

                                    <textarea style="width: 100%;" id="w3review" name="w3review" rows="4" cols="50" placeholder="Message" ></textarea>
                                </div>
                            </div> <input type="button" name="next" class="next action-button" value="Confirm" />
                            <input type="button" name="previous" class="previous action-button-previous"
                                value="Go Back" />
                        </fieldset>
                        
                        <fieldset style="width: 100%;">
                            <div class="form-card">
                                
                                <br><br>
                               
                                
                                <div class="row justify-content-center">
                                    <p style="font-size: 36px;">  <i class="fa fa-check fa-10x" style="font-size: xxx-large; color:green;" ></i> </p>
                                    <br>    <br>   
                                </div>  <div><h2 class="purple-text text-center"><strong>Success!</strong></h2>
                                <h2 class="purple-text text-center"><strong> Your Request has been sent</strong></h2></div>  <br>
                                <br><br>
                                <br><br>
                                
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            var current_fs, next_fs, previous_fs; //fieldsets
            var opacity;
            var current = 1;
            var steps = $("fieldset").length;

            setProgressBar(current);

            $(".next").click(function () {

                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

                //Add Class Active
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({ 'opacity': opacity });
                    },
                    duration: 500
                });
                setProgressBar(++current);
            });

            $(".previous").click(function () {

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //Remove class active
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show();

                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        previous_fs.css({ 'opacity': opacity });
                    },
                    duration: 500
                });
                setProgressBar(--current);
            });

            function setProgressBar(curStep) {
                var percent = parseFloat(100 / steps) * curStep;
                percent = percent.toFixed();
                $(".progress-bar")
                    .css("width", percent + "%")
            }

            $(".submit").click(function () {
                return false;
            })

        });
    </script>
</body>
{% endblock %}

</html>