
{% extends 'seniorapp/TryTemplate.html' %}
{% load static %}



{% block content %}
<!DOCTYPE html>
<html>
    <head>
       
<!-- Bootstrap core CSS -->
<link href="{%static 'seniorapp/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Additional CSS Files -->

<link rel="stylesheet" href="{%static 'seniorapp/css/fontawesome.css' %}">
<link rel="stylesheet" href="{%static 'seniorapp/css/templatemo-finance-business.css' %}">
<link rel="stylesheet" href="{%static 'seniorapp/css/owl.css' %}">
  <link rel="stylesheet" href="{%static 'seniorapp/css/style.css' %}">
</head>

  <head>
    <title>Evaluation</title>
   
    <link rel="stylesheet" href="{%static 'seniorapp/css/Evaluation.css' %}">
  </head>
  <body>
  <br>
  <br>
  <br>
    <div class="testbox">
      <form action="/"   >
       
        <div  style="background-color: #efefef4f; border:solid #EFEFEF; padding: 1rem 1rem; text-align: center;">
          
              <h3 > Trainee Evaluation</h3>
              
            
        </div>
        <br>
       <h4> <strong>Overall experience with the trainee</strong></h4>
        <p>Based upon your experience, observations of, and interactions with students, please rate them according to the following learning outcomes.<br>
          <strong><u>Rating Scheme:</u></strong>  &nbsp;<strong> <u>1</u></strong>  Poor &nbsp;<strong><u>2</u></strong> Average &nbsp;<strong><u>3</u></strong> Good &nbsp;<strong><u>4</u></strong> Very good &nbsp;<strong><u>5 </u></strong>Excellent &nbsp;<strong><u>N.A.</u></strong> Not Applicable</p>
          <br>
          ASk dr.Faisal about the questions, wether to use general questions or major-related questions
        <table>
          <tr>
            <th class="first-col"></th>
            <th>Very Good</th>
            <th>Good</th>
            <th>Fair</th>
            <th>Poor</th>
            <th>Very Poor</th>
            <th>N.A</th>
          </tr>
          <tr>
            <td class="first-col">Analyze professional problems and identify their requirements.</td>
            <td><input type="radio" value="none" name="rate" /></td>
            <td><input type="radio" value="none" name="rate" /></td>
            <td><input type="radio" value="none" name="rate" /></td>
            <td><input type="radio" value="none" name="rate" /></td>
            <td><input type="radio" value="none" name="rate" /></td>
            <td><input type="radio" value="none" name="rate" /></td>
          </tr>
          <tr>
            <td class="first-col">Design, implement, evaluate, or provide technical support for a
              complex computer based systems.</td>
            <td><input type="radio" value="none" name="satisfied" /></td>
            <td><input type="radio" value="none" name="satisfied" /></td>
            <td><input type="radio" value="none" name="satisfied" /></td>
            <td><input type="radio" value="none" name="satisfied" /></td>
            <td><input type="radio" value="none" name="satisfied" /></td>
            <td><input type="radio" value="none" name="rate" /></td>
          </tr>
          <tr>
            <td class="first-col">Participate and engage effectively in team work.</td>
            <td><input type="radio" value="none" name="prices" /></td>
            <td><input type="radio" value="none" name="prices" /></td>
            <td><input type="radio" value="none" name="prices" /></td>
            <td><input type="radio" value="none" name="prices" /></td>
            <td><input type="radio" value="none" name="prices" /></td>
            <td><input type="radio" value="none" name="rate" /></td>
          </tr>
          <tr>
            <td class="first-col">Demonstrate professional, ethical, and legal practice in IT and social
              issues.</td>
            <td><input type="radio" value="none" name="timeliness" /></td>
            <td><input type="radio" value="none" name="timeliness" /></td>
            <td><input type="radio" value="none" name="timeliness" /></td>
            <td><input type="radio" value="none" name="timeliness" /></td>
            <td><input type="radio" value="none" name="timeliness" /></td>
            <td><input type="radio" value="none" name="rate" /></td>
          </tr>
          <tr>
            <td class="first-col">Develop well-structured technical reports.</td>
            <td><input type="radio" value="none" name="name" /></td>
            <td><input type="radio" value="none" name="name" /></td>
            <td><input type="radio" value="none" name="name" /></td>
            <td><input type="radio" value="none" name="name" /></td>
            <td><input type="radio" value="none" name="name" /></td>
            <td><input type="radio" value="none" name="rate" /></td>
          </tr>
          <tr>
            <td class="first-col">Demonstrate effective oral communication skills.</td>
            <td><input type="radio" value="none" name="recommend" /></td>
            <td><input type="radio" value="none" name="recommend" /></td>
            <td><input type="radio" value="none" name="recommend" /></td>
            <td><input type="radio" value="none" name="recommend" /></td>
            <td><input type="radio" value="none" name="recommend" /></td>
            <td><input type="radio" value="none" name="rate" /></td>
          </tr>
          <tr>
            <td class="first-col">Apply computer science concepts and software development fundamentals to
              produce computer-based solutions</td>
            <td><input type="radio" value="none" name="recommend" /></td>
            <td><input type="radio" value="none" name="recommend" /></td>
            <td><input type="radio" value="none" name="recommend" /></td>
            <td><input type="radio" value="none" name="recommend" /></td>
            <td><input type="radio" value="none" name="recommend" /></td>
            <td><input type="radio" value="none" name="rate" /></td>
          </tr>
          <tr>
            <td class="first-col">Show commitment and punctuality to work, schedules, and timelines..</td>
            <td><input type="radio" value="none" name="recommend" /></td>
            <td><input type="radio" value="none" name="recommend" /></td>
            <td><input type="radio" value="none" name="recommend" /></td>
            <td><input type="radio" value="none" name="recommend" /></td>
            <td><input type="radio" value="none" name="recommend" /></td>
            <td><input type="radio" value="none" name="rate" /></td>
          </tr>
        </table>
      </br>
       <table>
         <tr>
           <td style="background-color: #efefef4f; border:solid #EFEFEF; padding: 1rem 1rem; text-align: center;"><strong>Supervisor Comments</strong><br>

            Would you like to add any additional comments about the student in particular, or about the students’
            
            knowledge and abilities to further improve our program outcome?</td>
           
         </tr>
         <tr>
          <td > <input type="text" style="border-color: white;"></td>
          
        </tr>
       </table>
       
        <div class="btn-block">
          <button type="submit" href="/" style="background-color: #004fa3;">Save Evaluation</button>
        </div>
      </form>
    </div>
    
  </body>

{% endblock %}
		</html>